body {
    background-color: cadetblue;
    color: honeydew;
}

.section_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
    color: #4959a2;
    width: 100%;
    text-align: center;
    max-width: 768px;
}

.table_of_contents {
    width: 100%;
    max-width: 768px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.li_01,
.li_02 {
    margin: 40px 0;
}

.main_name {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.km_ex {
    margin: 20px;
    width: 100%;
    max-width: 768px;
}

.km_ex h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.km_ex h2:before {
    content: "→";
    font-weight: bold;
    margin-right: 10px;
}

.km_ex h2:first-letter {
    /* text-transform: uppercase; */
}

.km_ex p,
.km_ex dl {
    text-align: center;
    font-size: 14px;
    line-height: 2.5;
    border: solid 3px #fff; /*線*/
    border-radius: 10px; /*角の丸み*/
    padding: 8px 24px;
}
